<template name="place">
	<div class="col s12 m4 place z-depth-1">
    <h5 class="light-blue white-text place-title">Name of Place <i class="mdi-navigation-chevron-right" style="float: right;"></i></h5>
    <div class="place-content">
		  <div >
		    <p>3.5 Miles Away</p>
		    <p>Casual Ambiance</p>
		    <p>Free WiFi</p>
		  </div>
		  {{!--
		  <div class="col s6">
		  	<img class="responsive-img z-depth-1" src="http://placehold.it/400x400" alt="">
		  </div>
		  --}}
		</div>
	</div>	
</template>